
body {
    font-family: 'PT Sans', sans-serif;
}


header a{
    padding: 20px;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    margin: 0px;
}

header a:hover{
    color: orange;
    text-decoration: underline;
    text-decoration-color: orange;
    transition: 0.1s;
}

header h1 {
    float: left;
    margin: 0px;
    padding-left: 20px;
}

header {
    box-sizing: border-box;
    padding: 10px 275px 10px 275px;
    text-align: right;
    box-shadow: 0 4px 2px -2px gray;
    width: 100%;
}

#banner-image {
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    padding-top: 75px;
    width: 100%;
}


#banner-image img{
    width: 100%;
}

.form {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

.form h1 {
    font-size: 3em;
}

form {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 20px;
    text-align: left;
}

form * {
    width: 100%;
}


form span {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


form span select{
    width: 90%
}
form span label + input {
    width: 100%;
}

form input{
    height: 2em;
    margin-top: 15px;
    padding-left: 12px;
    margin-bottom: 20px;
}
form label {
    font-weight: bold;
    font-size: 1.5em;
}

select {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 2.2em;
    padding-left: 12px;
}

input, select
{
    font-size:1.75em;
}
input[type="submit"]{
    background-color: #1492E6;
    color: white;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: buttonface;
}

input[type="submit"]:hover{
    background-color: #1182cc;
}

input:focus{
}

/* Flights Container */
#flights-container {
    text-align: center;
    margin-left: 280px;
    margin-right: 280px;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 500px;
    left: 0;

    box-shadow: 0px 0px 1px 1px #bbbbbb inset;
    
  }

#flights-container h2 {
    display: inline-block;
}

.flight-item {
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 20px 80px 20px 80px;
    box-shadow: 0px 3px 6px 1px #bbbbbb;
}

.flight-item h3 {
   font-size: 2.2em;
   margin: 0px
}

.flight-item h3 + p {
    margin: 0px
 }
 

.flight-item span {
    display: inline-block;
    padding: 20px;
}

.flight-item span:nth-last-of-type(2) {
    padding-left: 40px;
  }

.flight-item span:last-of-type {
    margin-left: auto;
}

.flight-status {
    display: flex;
    align-items: top;
    margin-top: 10px;
 
}

.flight-status p {
    margin-top: 0px;
    padding-right: 10px;
    margin-left: auto;
}